@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Cinzel", serif;
    font-weight: 500;
}

body {
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp12822373.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

#pokemonName {
    width: 350px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: auto;
    font-size: 20px;
}

#pokemonName::placeholder {
    text-align: center;
    color: black;
}

button {
    width: 150px;
    height: 35px;
    margin: 5px;
    border:none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-content:center—è;
}

footer{
    flex-shrink: 0;
}

.pokemonPage {
    width: 150px;
    margin: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;    
    height: 125px;
    background-color: #fff;
}

.pokemonPage:hover {
    background-color: #ef1;
}

.pokemonSprite {
    margin: 0;
    padding: 0;
    white-space: wrap;
    width: 100px;
    height: 100px;
    
}

.pokemonName, .pokemonId {
    font-size: 16px;
    font-weight: 700;
}

#loadmore {
    margin: 10px;
    width: 150px;
    height: 35px;
    background-color: #fff;
}

#loadmore:hover{
    background-color: #ef1;
}

#loadmore:active{
    background-color: red;
}