@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Space Mono", monospace;
}

body {
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp12822373.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display:flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

header {
    display: flex;
    width: 100%;
    height: 50px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

#pokemonName {
    width: 350px;
    height: 35px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: auto;
    font-size: 20px;
}

#pokemonName::placeholder {
    text-align: center;
    color: black;
}

button {
    width: 150px;
    height: 35px;
    margin: 5px;
    border:none;
    border-radius: 5px;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(6, 100px) ;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-content: flex-start;
    perspective: 1200;
}

footer{
    flex-shrink: 0;
}

.pokemonPage {
    width: 300px;
    margin: 15px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;    
    height: 200px;
    background-color: #fff;
    transition: all 0.8s;
    transform-style: preserve-3d;
}

.pokemonPage.flipcard {
    transform: rotateY(180deg);
}

.pokemonPage:hover {
    background-color: #ef1;
}

.front, .back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
}

.front {
    flex-direction: column;
    justify-content: space-evenly;
}

.back {
    transform: rotateY(180deg);
    background-color: rgb(202, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.back > p {
    width: 150px;
    font-family: 'Press Start 2P', system-ui;
    font-size: 14px;
}
.pokemonSprite {
    margin: 0;
    padding: 0;
    white-space: wrap;
    width: 150px;
    height: 150px;
    
}

.pokemonName {
    font-size: 16px;
    /* font-weight: 700; */
    text-align: center;
    height: fit-content;
    width: 100%;
}

#loadmore {
    margin: 10px;
    width: 150px;
    height: 35px;
    background-color: #fff;
}

#loadmore:hover{
    background-color: #ef1;
}

#loadmore:active{
    background-color: red;
}

