@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu:wght@300;400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

.first-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}

.name {
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: #df0429;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.center-content {
    justify-content: center;
    align-items: center;
    display: flex;
}
.center-content nav img {
    width: 50px;
}

.center-content nav {
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    color: #fff;
    justify-content: center;
    width: 100px;
    height: auto;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.nav-link:hover{
    background-color: rgb(31, 31, 31);
}

.nav-link:active {
    background-color: #df0429;
}
.right-content {
    display: flex;
    justify-content: right;
    height: 100px;
    object-position: left;
}

.burger {
    display: flex;
    justify-content: center;
    height: 75px;
    align-items: center;
}

.img {
    width: 50px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

.img:hover {
    background-color: rgb(31, 31, 31);
}

.img:active {
    background-color: #df0429;
}

.main-content { 
    display: flex;
    width: 100%;
}

.left-side{
    width: 50%;
    color: white;
    padding: 20px;
    margin: 20px;
}

.title { 
    font-size: 50px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.text {
    font-size: 25px;
    font-family:'Ubuntu', sans-serif;
}

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side img {
    width: 600px;
}